<?xml version="1.0" encoding="utf-8"?>
<Webhook Key="6ab47960-d9a3-4a3f-8550-4ea97eaa2689" Alias="https://example.com/" Level="0">
  <Url>https://example.com/</Url>
  <Enabled>false</Enabled>
  <ContentTypeKeys />
  <Events>
    <Event>Umbraco.ContentPublish</Event>
  </Events>
  <Headers />
</Webhook>